#!/bin/bash
if [[ $(sudo file -s /dev/xvdf) != *ext4* && -b /dev/xvdf ]]; then
  sudo mkfs -t ext4 /dev/xvdf
fi
sudo mkdir -p /data
if ! egrep "^/data" /etc/fstab; then
  echo "/dev/xvdf /data ext4 defaults,nofail,noatime,nodiratime,barrier=0,data=writeback 0 2" | sudo tee -a /etc/fstab > /dev/null
fi
