#!/bin/bash
if [[ $(sudo file -s /dev/xvdf) != *ext4* && -b /dev/xvdf ]]; then
  sudo mkfs -t ext4 /dev/xvdf
fi
sudo mkdir -p /data
if ! egrep "^/data" /etc/fstab; then
  echo "/dev/xvdf /data ext4 defaults,nofail,noatime,nodiratime,barrier=0,data=writeback 0 2" | sudo tee -a /etc/fstab > /dev/null
fi
sudo apt install -y apache2
sudo sed -i 's/\/var\/www/\/data/g' /etc/apache2/apache2.conf
sudo sed -i 's/\/var\/www\/html/\/data/g' /etc/apache2/sites-enabled/000-default.conf
sudo sed -i 's/\/var\/www\/html/\/data/g' /etc/apache2/sites-available/000-default.conf
echo "<html><body>Hello AWS World<body></html>" | sudo tee /data/index.html > /dev/null
sudo shutdown -r now
